@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

body {
  background-color: hsl(27, 66%, 92%);
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}

.spend-header {
  background-color: hsl(10, 79%, 65%);
  max-width: 30%;
  margin: 0 auto;
  border-radius: 0.7em;
}

.balance-heading {
  color: white;
  padding: 0.3em;
  margin-left: 0.5em;
  font-weight: 400;
}
.balance {
  color: white;
  padding: 0.3em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.spend-chart {
  background-color: #fff;
  max-width: 30%;
  margin: 0 auto;
  border-radius: 0.5em;
}

.chart-heading {
  padding: 0.9em;
  font-weight: 700;
}

.total-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.left-column {
  text-align: left;
}

.right-column {
  text-align: right;
}

.total-spend {
  font-size: 2rem;
  font-weight: 700;
}

.percentage {
  font-weight: 700;
}

@media (max-width: 768px) {
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .spend-header,
    .spend-chart {
      max-width: 70%;
      margin: 0 auto;
      border-radius: 0.7em;
      align-items: center;
    }
  
    .balance-heading {
      font-size: 1.2em;
    }
  
    .balance {
      font-size: 1.5em;
      font-weight: bold;
    }
  
    .total-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .left-column,
    .right-column {
      text-align: center;
      margin-bottom: 1em;
    }
  
    .total-spend,
    .percentage,
    .last-month {
      font-size: 1.2rem;
    }
  }
